:root {
  --branding-color: #010502;
  --secondary-color: #f4f7fc;
  --tertiary-color: #3f3f3f;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "League Spartan", sans-serif;
}

body {
  font-family: var(--default-font-family);
  color: var(--branding-color);
}

.navbar {
  background-color: var(--secondary-color);
}

.navbar-brand {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 20px;
}

.nav-item {
  font-family: var(--default-font-family);
  font-size: 18px;
}

.main-container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: 700;
}
.greetings-container {
  margin: 60px 60px 160px 60px;
}

.get-started-btn-container {
  display: flex;
  justify-content: center;
  margin: 0;
}

section {
  color: var(--tertiary-color);
}

.home-project-headings {
  font-family: "Playfair Display", serif;
  font-size: 56px;
  font-weight: 700;
}

.about-me-container {
  margin: 20px;
}

.about-me-header {
  text-align: center;
  font-size: 60px;
  margin-top: 40px;
  display: inline-block;
}

.portfolio-image img {
  width: 600px;
  border-radius: 10px;
  margin: 20px 0;
}

.all-projects-button-wrapper {
  text-align: center;
}

.button-branding {
  background-color: var(--branding-color);
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 20px;
  border-radius: 4px;
  margin: 50px;
  padding: 15px 30px;
  color: white;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.btn-branding-outline {
  color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
  border-radius: 4px;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  transition: opacity 0.2s ease-in-out;
}

.button-branding:hover {
  color: white;
  opacity: 0.8;
  text-decoration: none;
}

.btn-branding-outline:hover {
  opacity: 0.8;
  color: var(--tertiary-color);
  text-decoration: none;
}
